<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cz">

<head>
	<title>Company name - title</title>
	
	<meta http-equiv="Content-language" content="cs" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content=" " />
	<meta name="keywords" content=" " />  
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<meta name="author" content="Klára Frolichová, Sunlight webdesign"/>
	<meta name="Copyright" content="Klára Frolichová, Sunlight webdesign 2007" />
	<meta name="design" content="Sunlight webdesign - http://www.sunlight.cz, info@sunlight.cz" />
	<link rel="stylesheet" type="text/css" href="default.css" title="default"/>
</head>

<body>	

	<div id="WholePage">

		    <div id="Inner">
			<div id="Container">
			
		
					<div id="Head">
					
                        <div id="Menu">
							<a class="homepage active" href="?page=homepage"><span>Homepage</span></a>
							<a class="about-us" href="?page=homepage"><span>About Us</span></a>
							<a class="products" href="?page=homepage"><span>Products</span></a>
							<a class="services" href="?page=homepage"><span>Services</span></a>
							<a class="support" href="?page=homepage"><span>Support</span></a>
							<a class="contact" href="?page=homepage"><span>Contact</span></a>
						</div>
						
					</div>
					
					<div id="TopPart">
					
					    <div id="Top_left">
					    <span class="company">COMPANY</span>&nbsp;&nbsp;<span class="name">NAME</span><br/>
					    <a class="link" href="?page=homepage"><span>www.companyname.com</span></a>
						</div>
						<div id="Top_right">
						<span class="first_line">to our business partner's site</span><br/>
						<span class="second_line">Welcome</span><br/>
						<span class="third_line">to our website</span>
						</div>

					</div>
					
					<div id="CentralPart">

					    <div id="FillContent">
						    <h2 class="gray">NEWS</h2>
							<h3>| 17.3.2007 |</h3>
							<p class="left">Suspendisse rhoncus. Nulla eros est, pellentesque in, tincidunt nec, dapibus at, turpis. Suspendisse tincidunt cursus eros. Maecenas lacus tellus, fringilla vitae.</p>
							<h3>| 15.6.2007 |</h3>
							<p class="left">Curabitur libero nunc, vehicula sit amet, placerat lacinia, pretium at, lectus. Nunc diam. Aenean at sapien. Nunc leo magna, ultrices sed, interdum et, faucibus a, orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						    <h2 class="orange">JOB VACANCIES</h2>
						    <h3 class="decor">Pellentesque scelerisque</h3>
						    <p class="left">Pellentesque scelerisque, turpis ac lobortis nonummy, massa urna aliquet ipsum, ac luctus turpis risus ac justo. Etiam ullamcorper auctor mi.</p>
						    <h3 class="decor">Pellentesque scelerisque</h3>
						    <p class="left">Pellentesque scelerisque, turpis ac lobortis nonummy, massa urna aliquet ipsum, ac luctus turpis risus ac justo. Etiam ullamcorper auctor mi.</p>
						    <h2 class="green">LOREM IPSUM</h2>
						    <img src="img/foto1.gif" class="foto1" alt="foto1"/>
						    <p class="left">Pellentesque scelerisque, turpis ac lobortis nonummy, massa urna aliquet ipsum, ac luctus turpis risus ac justo. Etiam ullamcorper auctor mi. Maecenas lacus tellus.</p>
						    
					    </div>
						
                        <div class="cleaner"></div>
					<div id="Bottom">
					
						<p class="down">Copyright © 2007,
						<a href="http://www.sunlight.cz">Design by: Sunlight webdesign</a></p>
						<div class="down2">
      					<p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml11"
        alt="Valid XHTML 1.1" height="31" width="88" /></a>
  </p>
						</div>

					</div>

			</div>
			</div>
	</div>
	</div>

</body>

</html>
